/*Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /*background: rgba(26, 62, 109, 0.86);*/
    background: #c4c1c1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    /*background: #305194;*/
    background: #afaeae;
}

body {
    padding-bottom: 20px;
    background-color: inherit;
}

.table > :not(caption) > * > * {
    /*padding: 0.5rem;*/
    padding: 4px;
}

.select {
    cursor: pointer
}

.thead-default th {
    color: #464a4c;
    background-color: #eceeef;
}

.bar {
    height: 18px;
    background: green;
}

.alert-file-manager {
    padding: 2px 32px 0 11px;
    margin: 1px 5px;
    display: inline-block;
}

.top-bar {
    padding: 10px 0;
    margin: 3px 0;
}

.select:hover {
    background-color: #d8d8d8;
}

.context-menu-active, .select:focus, .select:active {
    background-color: #beebff;
}

.alert > [data-notify="message"] {
    font-size: 80%;
}

.nopadding {
    margin: 0 !important;
}

.margin-bottom {
    margin-bottom: 20px;
}

.label {
    font-size: 70% !important;
    line-height: 24px !important;
    vertical-align: middle;
}

.jstree {
    background-color: #f9f9f9;
    padding: 5px 10px;
    border-radius: 6px;
}

.form-check {
    padding-left: 1.8rem;
}

.thumbnail-img img {
    max-width: 100%;
}

.thumbnail-blk .select {
    padding: 5px 0;
}

.thumbnail-blk div.thumbnail {
    overflow: hidden;
}

.no-tree-blk .thumbnail-blk .select-all {
    padding-left: 5px;
}

.thead-default a {
    color: #464a4c;
}

.thead-default span {
    color: #adadad;
}

.thead-default span.actived {
    color: #337ab7;
}

button i {
    padding-right: 4px;
}

.progress {
    height: 5px;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.search {
    width: auto;
    display: inline-block;
    float: left;
    height: 30px;
    margin-right: 5px;
}

@media only screen and (max-width: 700px) {

    .top-bar .btn-action > span.bar-action {
        display: none;
    }

}

.form-check-input {
    border: 2px solid #6e84a3;
    background-color: white;
    background-size: 100%;
    width: 1.2rem;
    height: 1.2rem;
}

input[id=search] {
    max-height: 30px;
}

.false-link {
    cursor: default;
}

.link-disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

span.badge.bg-secondary {
    padding: 3px 4px;
    min-width: 16px;
}

@media (max-width: 982px) {

    .flex-xs-wrap {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    }
}

.tbody-bordered {
    border-left: 1px solid #edf2f9 !important;
    border-right: 1px solid #edf2f9 !important;
}

#table-file-manager {
    border: 1px solid #edf2f9;
}

.cloud-tr-clicked {
    background-color: #f2f4f6;
}

.img-body {
    max-width: 520px;
    margin: auto;
}

.context-menu-list {
    font-family: Raleway-Bold !important;
    background: #ffffffe8 !important;
    border: 1px solid #bebebe !important;
    border-radius: 8px !important;
    -webkit-box-shadow: 0 2px 5px rgb(0 0 0 / 28%) !important;
    box-shadow: 0 2px 5px rgb(0 0 0 / 28%) !important;
}

.context-menu-item.context-menu-hover {
    background-color: var(--bs-info) !important;
}


.btn-cloud-action {
    padding-right: 2px;
    padding-left: 2px;
}


@font-face {
    font-family: Raleway-Regular;
    src: url(../fonts/Raleway/Raleway-Regular.eot);
    src: url(../fonts/Raleway/Raleway-Regular.eot) format("embedded-opentype"), url(../fonts/Raleway/Raleway-Regular.woff) format("woff"), url(../fonts/Raleway/Raleway-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Raleway-Medium;
    src: url(../fonts/Raleway/Raleway-Medium.eot);
    src: url(../fonts/Raleway/Raleway-Medium.eot) format("embedded-opentype"), url(../fonts/Raleway/Raleway-Medium.woff) format("woff"), url(../fonts/Raleway/Raleway-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url(../fonts/Raleway/Raleway-SemiBold.eot);
    src: url(../fonts/Raleway/Raleway-SemiBold.eot) format("embedded-opentype"), url(../fonts/Raleway/Raleway-SemiBold.woff) format("woff"), url(../fonts/Raleway/Raleway-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Raleway-Bold;
    src: url(../fonts/Raleway/Raleway-Bold.eot);
    src: url(../fonts/Raleway/Raleway-Bold.eot) format("embedded-opentype"), url(../fonts/Raleway/Raleway-Bold.woff) format("woff"), url(../fonts/Raleway/Raleway-Bold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Raleway-ExtraBold;
    src: url(../fonts/Raleway/Raleway-ExtraBold.eot);
    src: url(../fonts/Raleway/Raleway-ExtraBold.eot) format("embedded-opentype"), url(../fonts/Raleway/Raleway-ExtraBold.woff) format("woff"), url(../fonts/Raleway/Raleway-ExtraBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: Raleway-Black;
    src: url(../fonts/Raleway/Raleway-Black.eot);
    src: url(../fonts/Raleway/Raleway-Black.eot) format("embedded-opentype"), url(../fonts/Raleway/Raleway-Black.woff) format("woff"), url(../fonts/Raleway/Raleway-Black.ttf) format("truetype");
    font-weight: 600;
    font-style: normal
}